aiohttp==3.11.0b0
flask==3.1.0
flet==0.19.0
gunicorn==23.0.0
pillow==11.1.0
pip-autoremove==0.10.0
pip-chill==1.0.3
pipreqs==0.5.0
python-dotenv==1.0.1
python-socketio==5.11.1
rpi.gpio==0.7.1
tinycss2==1.4.0
